[alias]
	ci = commit
	co = checkout
	br = branch
	st = status -s
  ff = flow feature
  fh = flow hotfix
  fr = flow release
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset'
	ctags = !.git/hooks/ctags
[user]
	name = Stan Bondi
	email = stan@fixate.it
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[core]
	autocrlf = input
[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE | more
